body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

h1, h2{
    font-family: "Montez";
    font-size: 3.8rem;
    line-height: 1.5;
    font-weight: bold;
}

#testimonials > h2{
    font-family: "Montez";
    font-weight: bold;
    line-height: 1.5;
    font-size: 3.5rem;
}

.container-fluid{
    padding: 3% 15%;
}

/* Navigation Bar*/

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding:0 0 4.6rem; 
}

.nav-item{
    padding: 0 18px;
    width: auto;
}

.nav-link{
    font-family: "Montserret";
    font-size: 1.4rem;
    font-weight: lighter;
}


/* Download button */
.download-button{
    margin: 10% 3% 10% 0%;
}

/* Title Image */
.title-img{ 
    width: 55%;
    transform: rotate(23deg);
}

.col-lg-6{
    align-content: center;
}

/*features*/

#features{
    padding: 5% 10%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}
.font-sym{
    font-size: 400%;
    margin-bottom: 1rem;
    color: #ef8172;
}

.feature-box>h3{
    font-family: "Montez";
    font-weight: 800;
    font-size: 1.7 rem;
}

.feature-box >p{
    font-family: "Montez";
    font-size: 1.5rem;
    font-weight: 500;
}

.font-sym:hover{
    color: #ff4c68;
}

/* testimonial section */

#testimonials{
    padding: 3% 10%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

/* Press */

#press{
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing section */
.price{
    padding-bottom: 0px;
}

.navbarCategory{
    justify-content: center;
}

.title-item{
    padding: 5px 20px;

}

.animal-list{
    justify-content: center;
}

.justify-content-between{
    width: 100%;
}
.Budget{
    padding: 7px 0px;
}

.container >p{
    font-family: "Montez";
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 450;
}

.nav{
    margin-bottom: 7px;
}

.navbar-collapse{
    justify-content: center;
}

/* Footer */
.social-icon {
    margin: 20px 10px;
  }
  
@media (max-width: 1028px) {

#title {
    text-align: center;
}

.title-image {
    position: static;
    transform: rotate(0);
}
}